
.vs/Proyecto/v15/Server/sqlite3/db.lock
.vs/Proyecto/v15/.suo
.vs/Proyecto/v15/.suo
.vs/Proyecto/v15/Server/sqlite3/storage.ide
.vs/Proyecto/v15/Server/sqlite3/storage.ide-shm
.vs/Proyecto/v15/Server/sqlite3/storage.ide
.vs/Proyecto/v15/Server/sqlite3/storage.ide-shm
.vs/Proyecto/v15/Server/sqlite3/storage.ide-wal
Proyecto.Web/bin/Proyecto.Web.dll
Proyecto.Web/obj/Debug/Proyecto.Web.pdb
